* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
  }
  
  *::selection {
    background:#37D9A7;
  }
  
  ul, li {
    list-style-position: inside;
  }
  
  h3 {
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .centerd-form__button {
    border: none;
    background: #37D9A7;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius:8px;
    font-weight: 300;
    transition: background .3s ease;
  }
  
  .centerd-form__button {
    border: none;
    color: white;
    padding: 10px;
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.2);
    transform:scale(1.05);
    transform:translateY(-2px);
  }
  
  .centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: linear-gradient(270deg, rgba(250, 43, 149, 1), rgba(81, 70, 211, 1)); /* w3c */
  }
  
  .centered-form__form {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 70px 40px;
    margin: 20px;
    width: 400px;
  }

  .centered-form__form h3 {
    color: #fff;
  }

  .centered-form__form .form-field input {
    border-radius:8px;
    background-color: rgba(255, 255, 255, 0.15);
    outline:none;
    border:none;
    color:color:rgba(255, 255, 255, 0.8);
    height:45px;
  }
  input::placeholder, input, select, textarea, textarea:focus, input:focus {
    color:rgba(255, 255, 255, 0.8);
    font-weight:300;
    padding:5px;
  }
  
  .form-field {
    margin: 20px 0;
  }
  
  .form-field > * {
    width: 100%;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 7px;
  }
  
  .form-field input, .form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px;
  }
  
  .chat {
    display: flex;
  }
  
  .chat__sidebar {
    overflow-y: auto;
    width: 400px;
    height: 100vh;
    background:#698EA5;
  }
  
  .chat__sidebar h3 {
    color: #e6eaee;
    margin: 10px 20px;
    text-align: left;
  }
  
  .chat__sidebar ul {
    list-style-type: none;
  }
  
  .chat__sidebar li {
    padding: 10px;
    margin: 10px;
    color:#fff;
    display:flex;
    line-height:1.5rem;
  }

  .people__icon {
    margin-right:15px;
    font-size:1.5rem;
  }
  
  .chat__main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background:#6ABBC8;
  }
  
  .chat__messages {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .chat__footer {
    background:rgba(255, 255, 255, .2);
    display: flex;
    padding: 30px 40px;
    min-height: 100px;
    flex-shrink: 0;
  }
  
  .chat__footer form {
    flex-grow: 1;
    display: flex;
  }
  
  .chat__footer form * {
    margin-right: 10px;
  }
  
  .chat__footer input {
    background:rgba(255, 255, 255, .1);
    border: none;
    outline:none;
    padding: 10px;
    flex-grow: 1;
    border-radius:8px;
    text-overflow:wrap;
    font-weight:500;
  }
  
  .chat__messages {
    list-style-type: none;
    padding: 10px 40px;
  }
  
  .message {
    padding: 10px;
  }
  
  .message__title {
    display: flex;
    margin-bottom: 5px;
  }
  
  .message__title h4 {
    font-weight: 600;
    margin-right: 10px;
    color:#fff;
  }
  
  .message__title span {
    color:rgba(255, 255, 255, .5);
    font-size:.7em;
    align-self:flex-end;
  }
  .message__body p {
    font-weight:500;
    border-radius:8px;
    color:#fff;
  }

  .button__location {
    padding:10px;
    border-radius:50%;
    border:none;
    outline:none;
    background: #698ea5;
    cursor:pointer;
  }
  
  .button__location i {
    color:#fff;
  }

  .button__location:disabled {
    cursor: default;
    background: #698ea5;
  }
  
  @media (max-width: 600px) {
    * {
      font-size: 1rem;
    }
  
    .chat__sidebar {
      display: none;
    }
  
    .chat__footer {
      flex-direction: column;
    }
  
    .chat__footer form {
      margin-bottom: 10px;
    }
  
    .chat__footer button {
      margin-right: 0px;
    }
  }
